<ion-item *ngIf="message" [routerLink]="'/message/' + message.id" [detail]="false">
  <div slot="start" [class]="!message.is_archived ? 'dot dot-unread' : 'dot'"></div>
  <ion-label class="ion-text-wrap">
    <h2>
      {{ message.title }}
      <span class="date">
        <ion-note>{{ message.date }}</ion-note>
        <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h2>
    <!-- <h3>{{ message.created_at }}</h3> -->
    <p>
      {{message.domain_name}}
    </p>
  </ion-label>
  </ion-item>